<div id="message"></div>
    <div>
        <div id="message-left">
            <h1 class="first-line">旅行計画を</h1>
            <h1 class="second-line">気軽にしよう</h1>
            <p>旅行計画作成アプリ</p>
            <h2>リョコプ</h2>
        </div>
        <div id="message-right">
            <div class="right-sentence">
                <%= image_tag "search.png", class:"png" %>
                <p>行きたい場所を検索し、スケジュール<br>に追加することで、旅行の計画を立て<br>ることができます。</p>
            </div>
            <div class="left-sentence">
                <p>地図に目的地のピンが立つので<br>移動のイメージがしやすいです。</p>
                <%= image_tag "pin.png", class:"png" %>
            </div>
            <div class="right-sentence">
                <%= image_tag "route.png", class:"png" %>
                <p>ルートを検索し、移動距離と<br>時間を出すことができます。<br>※車で移動した場合のルートです。</p>    
            </div>
            <div id="new">
                <%  if user_signed_in?  %>
                    <h1>プランを作成！</h1>
                    <button type="button" id="btn-new" class="btn", onclick="location.href='plans#index';">新規作成</button>
                <% else %>
                    <h1>まずはログイン</h1>
                    <button type="button" id="btn-login" class="btn", onclick="location.href='users/sign_in';">ログイン</button>
                <% end %>
            </div>
        </div>
    </div>
</div>
