<div id="message"></div>
    <div>
        <div id="message-left">
            <h1 class="first-line">旅行計画を</h1>
            <h1 class="second-line">もっと簡単に</h1>
            <p>旅行計画作成アプリ</p>
            <h2>リョコプ</h2>
        </div>
        <div id="message-right">
            <div class="right-sentence">
                <p>行きたい場所を検索し、スケジュールに追加するだけで、簡単に旅行の計画を立てることができます。</p>
            </div>
            <div class="left-sentence">
                <p>移動手段を選択すると、交通費の算出を自動で行います。</p>
            </div>
            <div class="right-sentence">
                <p>地図に目的地のピンが立つので移動のイメージがしやすいです。</p>    
            </div>
            <div id="new">
                <h1>プランを作成！</h1>
                <button type="button" id="btn-new" class="btn btn-primary", onclick="location.href='maps/index';">新規作成</button>
            </div>
        </div>
    </div>
</div>
