#plan-background {
    width: 100%;
    height: 630px;
    background-image: url("man.png");
    background-position: -60px 90px;
    background-repeat: no-repeat;
    background-size: 600px;
}

// index
#plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#plan-title > h1 {
    width: 250px;
    background: linear-gradient(transparent 70%, #559966 70%);
}

#plansIndex {
    margin: 0 auto;
}

// _plan
#btn-new-plan {
    color: #EE5533;
}
#btn-new-plan:hover {
    background-color: #EE5533;
    color: #FFF;
    text-decoration: underline;
}

.plan-card {
    background-color: #FFF7B3;
    border-left: solid 5px #FFEE55;
    height: auto;
    margin: 3px;
}

#btn-spot-add {
    background-color: #33CC99;
    color: #FFF;
}
#btn-spot-add:hover {
    color: #FFCC66;
    text-decoration: underline;
}

#btn-plan-edit:hover {
    background-color: #FFEE55;
    color: #FFF;
    padding: 5px;
} 

#btn-plan-delete {
    color: #EE5533;
}
#btn-plan-edit-dropdown:hover,
#btn-plan-delete:hover {
    background-color: #AA7722;
    color: #FFF;
}

.update {
    position: absolute;
    right: 5px;
    bottom: 3px;
    background-color: #EE5533;
    border: 3px solid #EE5533;
    color: #FFF;
    margin: 3px 10px;
    padding: 3px;
}
.update:hover {
    background-color: #EE5533;
    color: #FFF;
    margin: 8px;
}