  <div class="plan-title-area px-3">
    <h1>MYプラン</h1>
    <%= link_to new_plan_path, title: "新規プラン作成", class: "btn p-0 text-dark", remote: true do %>
      <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">新規プラン作成</span>
    <% end %>
  </div>
  <div class="pt-3 p-1 text-nowrap plan-index-area" id="plansIndex">
    <%= render @plans %>
  </div>
  