<div id="info-window">
  <div id="info-window-name">
    <%= place.name %>
  </div>
  <div id="info-wondow-btn">
    <%= button_tag "経路に追加", id: "btn-add", class: "btn btn-primary btn-sm", 
      onclick: "addPlace('#{place.name}',#{place.latitude}, #{place.longitude})" %>
  </div>
</div>