<!--mapパーシャル、render @mapsでmapパーシャルを表示-->
<div id="route-spot">
    <div id="place-name"><%= place.name %></div>
    <br>
    <div id="staying-time">
        <input type="time" name="arrival-time" class="time">
        <p>から&emsp;</p>
        <input type="time" name="departure-time" class="time">
        <p>まで</p>
    </div>
    <%= link_to '削除', place, method: :delete, class: "spot-delete" %>
</div>